In [72]:
import math
import numpy as np
import pandas
import matplotlib.pyplot as plt
%matplotlib inline

In [97]:
from numpy import genfromtxt
my_data = genfromtxt('train.csv', delimiter=',', usecols=np.arange(0,12))
a = pandas.read_csv('train.csv', delimiter=',')
#Data cleaning and exploration

In [ ]:
'''
Checklist for data analysis
[] Data cleaning
    [] Data splitting and cleaning out unusable value
    [] Specific data cleaning for certain model (maybe)
    
[] Model analysis
    [] Linear Regression
    [] Nearest Neighbor
    [] Decision Tree analysis 
        [] Ensemble method
        [] Random forest (bagging)
[] cross validation and model tunning
    [] Data splitting method and analysis
    [] Hyper-Parameter analysis on certain models
[] Insight analysis
    [] Reverse engineering for missing data
        [] 
[] Future work

Includes graphic to show the analysis of the data
'''

In [146]:
train_data, test_data = split_data(a, 80)
def split_data(data, percent):
    train_size = len(data) * percent * 0.01
    train_size = int(train_size)
    print train_size
    return data.iloc[:train_size, :], data.iloc[train_size:, :]

712

In [152]:
len(train_data) + len(test_data) == len(a)

True

In [153]:
train_data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
707,708,1,1,"Calderhead, Mr. Edward Pennington",male,42,0,0,PC 17476,26.2875,E24,S
708,709,1,1,"Cleaver, Miss. Alice",female,22,0,0,113781,151.5500,NaN,S
709,710,1,3,"Moubarek, Master. Halim Gonios (""William George"")",male,NaN,1,1,2661,15.2458,NaN,C
710,711,1,1,"Mayne, Mlle. Berthe Antonine (""Mrs de Villiers"")",female,24,0,0,PC 17482,49.5042,C90,C
711,712,0,1,"Klaber, Mr. Herman",male,NaN,0,0,113028,26.5500,C124,S

In [154]:
train_data.tail()
len(train_data)

712

In [160]:
#Number of classes that are identifiable and n represents missing cabin information
a['Cabin'].apply(lambda x : str(x)[:1]).value_counts()

n    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: Cabin, dtype: int64

In [36]:
a.groupby('Sex').size()

Sex
female    314
male      577
dtype: int64

In [96]:
a.groupby('Survived').count()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Survived,,,,,,,,,,,
0,549,549,549,549,424,549,549,549,549,68,549
1,342,342,342,342,290,342,342,342,342,136,340

In [110]:
#stochastic approach using linear regression method to predict
#Plot the value and compute for the average decision boundary of the survivor statstics
def stochastic_gdescent (data, step_size,theta, max_iters=10000):
  for x in range(0, max_iters):
    i = np.random.randint(low=0, high=9999, size=None)
    gradient = label[i] - theta.dot(data[i])
    for y in range(0,2):
      theta[y] = theta[y] + (step_size * (label[i]-(data[i][y]*theta[y])) * data[i,y])
    #Report every 100 iteration to see the gradient and add data for plot
    if (x % 100 == 0) :
      print "Data point of x" , x, " is ", data[i]
      print "Gradient of this point", gradient
      print "Current theta", theta
      a[x/100] = (np.sum(data.dot(theta) - label **2)/10000)

In [111]:
#Cross Validation
#Different type of split