In [235]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [230]:
#from numpy import genfromtxt
#my_data = genfromtxt('train.csv', delimiter=',', usecols=np.arange(0,12))
a = pandas.read_csv('train.csv', delimiter=',')
#Data cleaning and exploration

In [ ]:
'''
Checklist for data analysis
[] Data cleaning
    [] Data splitting and cleaning out unusable value
    [] Specific data cleaning for certain model (maybe)
    
[] Model analysis
    [] Linear Regression
    [] Nearest Neighbor
    [] Decision Tree analysis 
        [] Ensemble method
        [] Random forest (bagging)
[] cross validation and model tunning
    [] Data splitting method and analysis
    [] Hyper-Parameter analysis on certain models
[] Insight analysis
    [] Reverse engineering for missing data
        [] Re-run previous model to see improvement
[] Future work
Includes graphic to show the analysis of the data
'''

In [232]:
train_data, test_data = split_data(a, 80)
def split_data(data, percent):
    train_size = len(data) * percent * 0.01
    train_size = int(train_size)
    return data.iloc[:train_size, :], data.iloc[train_size:, :]

In [225]:
#Number of classes that are identifiable and n represents missing cabin information
b = train_data
b.loc[:,'Cabin'] = b['Cabin'].apply(lambda x : str(x)[:1])
b.loc[:, 'Sex'] = b['Sex'].apply(lambda x: 1 if x == 'male' else 0)
#Inital experiement, dropping name and ticket where it makes linear regression easier
b = b.drop('Name', 1)
b = b.drop('Ticket',1)
# Dropping missing data

In [227]:
#Turning catagory value using 1 hot and convert binary to 0/1 value
def clean_linear_reg (train_data, test_data):
    a.loc[:,'Cabin'] = test_data['Cabin'].apply(lambda x : str(x)[:1])
    a.loc[:, 'Sex'] = test_data['Sex'].apply(lambda x: 1 if x == 'male' else 0)
    #Inital experiement, dropping name and ticket where it makes linear regression easier
    a = a.drop('Name', 1)
    a = a.drop('Ticket',1)
    b.loc[:,'Cabin'] = train_data['Cabin'].apply(lambda x : str(x)[:1])
    b.loc[:, 'Sex'] = train_data['Sex'].apply(lambda x: 1 if x == 'male' else 0)
    #Inital experiement, dropping name and ticket where it makes linear regression easier
    b = b.drop('Name', 1)
    b = b.drop('Ticket',1)

In [233]:
b

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,0,22,1,0,7.2500,n,S
1,2,1,1,0,38,1,0,71.2833,C,C
2,3,1,3,0,26,0,0,7.9250,n,S
3,4,1,1,0,35,1,0,53.1000,C,S
4,5,0,3,0,35,0,0,8.0500,n,S
6,7,0,1,0,54,0,0,51.8625,E,S
7,8,0,3,0,2,3,1,21.0750,n,S
8,9,1,3,0,27,0,2,11.1333,n,S
9,10,1,2,0,14,1,0,30.0708,n,C
10,11,1,3,0,4,1,1,16.7000,G,S
11,12,1,1,0,58,0,0,26.5500,C,S
12,13,0,3,0,20,0,0,8.0500,n,S
13,14,0,3,0,39,1,5,31.2750,n,S
14,15,0,3,0,14,0,0,7.8542,n,S
15,16,1,2,0,55,0,0,16.0000,n,S
16,17,0,3,0,2,4,1,29.1250,n,Q
18,19,0,3,0,31,1,0,18.0000,n,S
20,21,0,2,0,35,0,0,26.0000,n,S
21,22,1,2,0,34,0,0,13.0000,D,S
22,23,1,3,0,15,0,0,8.0292,n,Q
23,24,1,1,0,28,0,0,35.5000,A,S
24,25,0,3,0,8,3,1,21.0750,n,S
25,26,1,3,0,38,1,5,31.3875,n,S
27,28,0,1,0,19,3,2,263.0000,C,S
30,31,0,1,0,40,0,0,27.7208,n,C
33,34,0,2,0,66,0,0,10.5000,n,S
34,35,0,1,0,28,1,0,82.1708,n,C
35,36,0,1,0,42,1,0,52.0000,n,S
37,38,0,3,0,21,0,0,8.0500,n,S
38,39,0,3,0,18,2,0,18.0000,n,S
...,...,...,...,...,...,...,...,...,...,...
677,678,1,3,0,18,0,0,9.8417,n,S
678,679,0,3,0,43,1,6,46.9000,n,S
679,680,1,1,0,36,0,1,512.3292,B,C
681,682,1,1,0,27,0,0,76.7292,D,C
682,683,0,3,0,20,0,0,9.2250,n,S
683,684,0,3,0,14,5,2,46.9000,n,S
684,685,0,2,0,60,1,1,39.0000,n,S
685,686,0,2,0,25,1,2,41.5792,n,C
686,687,0,3,0,14,4,1,39.6875,n,S
687,688,0,3,0,19,0,0,10.1708,n,S
688,689,0,3,0,18,0,0,7.7958,n,S
689,690,1,1,0,15,0,1,211.3375,B,S
690,691,1,1,0,31,1,0,57.0000,B,S
691,692,1,3,0,4,0,1,13.4167,n,C
693,694,0,3,0,25,0,0,7.2250,n,C
694,695,0,1,0,60,0,0,26.5500,n,S
695,696,0,2,0,52,0,0,13.5000,n,S
696,697,0,3,0,44,0,0,8.0500,n,S
698,699,0,1,0,49,1,1,110.8833,C,C
699,700,0,3,0,42,0,0,7.6500,F,S
700,701,1,1,0,18,1,0,227.5250,C,C
701,702,1,1,0,35,0,0,26.2875,E,S
702,703,0,3,0,18,0,1,14.4542,n,C
703,704,0,3,0,25,0,0,7.7417,n,Q
704,705,0,3,0,26,1,0,7.8542,n,S
705,706,0,2,0,39,0,0,26.0000,n,S
706,707,1,2,0,45,0,0,13.5000,n,S
707,708,1,1,0,42,0,0,26.2875,E,S
708,709,1,1,0,22,0,0,151.5500,n,S
710,711,1,1,0,24,0,0,49.5042,C,C

In [236]:
pd.get_dummies(b)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_n,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,0,22,1,0,7.2500,0,0,0,0,0,0,0,0,1,0,0,1
1,2,1,1,0,38,1,0,71.2833,0,0,1,0,0,0,0,0,0,1,0,0
2,3,1,3,0,26,0,0,7.9250,0,0,0,0,0,0,0,0,1,0,0,1
3,4,1,1,0,35,1,0,53.1000,0,0,1,0,0,0,0,0,0,0,0,1
4,5,0,3,0,35,0,0,8.0500,0,0,0,0,0,0,0,0,1,0,0,1
6,7,0,1,0,54,0,0,51.8625,0,0,0,0,1,0,0,0,0,0,0,1
7,8,0,3,0,2,3,1,21.0750,0,0,0,0,0,0,0,0,1,0,0,1
8,9,1,3,0,27,0,2,11.1333,0,0,0,0,0,0,0,0,1,0,0,1
9,10,1,2,0,14,1,0,30.0708,0,0,0,0,0,0,0,0,1,1,0,0
10,11,1,3,0,4,1,1,16.7000,0,0,0,0,0,0,1,0,0,0,0,1
11,12,1,1,0,58,0,0,26.5500,0,0,1,0,0,0,0,0,0,0,0,1
12,13,0,3,0,20,0,0,8.0500,0,0,0,0,0,0,0,0,1,0,0,1
13,14,0,3,0,39,1,5,31.2750,0,0,0,0,0,0,0,0,1,0,0,1
14,15,0,3,0,14,0,0,7.8542,0,0,0,0,0,0,0,0,1,0,0,1
15,16,1,2,0,55,0,0,16.0000,0,0,0,0,0,0,0,0,1,0,0,1
16,17,0,3,0,2,4,1,29.1250,0,0,0,0,0,0,0,0,1,0,1,0
18,19,0,3,0,31,1,0,18.0000,0,0,0,0,0,0,0,0,1,0,0,1
20,21,0,2,0,35,0,0,26.0000,0,0,0,0,0,0,0,0,1,0,0,1
21,22,1,2,0,34,0,0,13.0000,0,0,0,1,0,0,0,0,0,0,0,1
22,23,1,3,0,15,0,0,8.0292,0,0,0,0,0,0,0,0,1,0,1,0
23,24,1,1,0,28,0,0,35.5000,1,0,0,0,0,0,0,0,0,0,0,1
24,25,0,3,0,8,3,1,21.0750,0,0,0,0,0,0,0,0,1,0,0,1
25,26,1,3,0,38,1,5,31.3875,0,0,0,0,0,0,0,0,1,0,0,1
27,28,0,1,0,19,3,2,263.0000,0,0,1,0,0,0,0,0,0,0,0,1
30,31,0,1,0,40,0,0,27.7208,0,0,0,0,0,0,0,0,1,1,0,0
33,34,0,2,0,66,0,0,10.5000,0,0,0,0,0,0,0,0,1,0,0,1
34,35,0,1,0,28,1,0,82.1708,0,0,0,0,0,0,0,0,1,1,0,0
35,36,0,1,0,42,1,0,52.0000,0,0,0,0,0,0,0,0,1,0,0,1
37,38,0,3,0,21,0,0,8.0500,0,0,0,0,0,0,0,0,1,0,0,1
38,39,0,3,0,18,2,0,18.0000,0,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,678,1,3,0,18,0,0,9.8417,0,0,0,0,0,0,0,0,1,0,0,1
678,679,0,3,0,43,1,6,46.9000,0,0,0,0,0,0,0,0,1,0,0,1
679,680,1,1,0,36,0,1,512.3292,0,1,0,0,0,0,0,0,0,1,0,0
681,682,1,1,0,27,0,0,76.7292,0,0,0,1,0,0,0,0,0,1,0,0
682,683,0,3,0,20,0,0,9.2250,0,0,0,0,0,0,0,0,1,0,0,1
683,684,0,3,0,14,5,2,46.9000,0,0,0,0,0,0,0,0,1,0,0,1
684,685,0,2,0,60,1,1,39.0000,0,0,0,0,0,0,0,0,1,0,0,1
685,686,0,2,0,25,1,2,41.5792,0,0,0,0,0,0,0,0,1,1,0,0
686,687,0,3,0,14,4,1,39.6875,0,0,0,0,0,0,0,0,1,0,0,1
687,688,0,3,0,19,0,0,10.1708,0,0,0,0,0,0,0,0,1,0,0,1
688,689,0,3,0,18,0,0,7.7958,0,0,0,0,0,0,0,0,1,0,0,1
689,690,1,1,0,15,0,1,211.3375,0,1,0,0,0,0,0,0,0,0,0,1
690,691,1,1,0,31,1,0,57.0000,0,1,0,0,0,0,0,0,0,0,0,1
691,692,1,3,0,4,0,1,13.4167,0,0,0,0,0,0,0,0,1,1,0,0
693,694,0,3,0,25,0,0,7.2250,0,0,0,0,0,0,0,0,1,1,0,0
694,695,0,1,0,60,0,0,26.5500,0,0,0,0,0,0,0,0,1,0,0,1
695,696,0,2,0,52,0,0,13.5000,0,0,0,0,0,0,0,0,1,0,0,1
696,697,0,3,0,44,0,0,8.0500,0,0,0,0,0,0,0,0,1,0,0,1
698,699,0,1,0,49,1,1,110.8833,0,0,1,0,0,0,0,0,0,1,0,0
699,700,0,3,0,42,0,0,7.6500,0,0,0,0,0,1,0,0,0,0,0,1
700,701,1,1,0,18,1,0,227.5250,0,0,1,0,0,0,0,0,0,1,0,0
701,702,1,1,0,35,0,0,26.2875,0,0,0,0,1,0,0,0,0,0,0,1
702,703,0,3,0,18,0,1,14.4542,0,0,0,0,0,0,0,0,1,1,0,0
703,704,0,3,0,25,0,0,7.7417,0,0,0,0,0,0,0,0,1,0,1,0
704,705,0,3,0,26,1,0,7.8542,0,0,0,0,0,0,0,0,1,0,0,1
705,706,0,2,0,39,0,0,26.0000,0,0,0,0,0,0,0,0,1,0,0,1
706,707,1,2,0,45,0,0,13.5000,0,0,0,0,0,0,0,0,1,0,0,1
707,708,1,1,0,42,0,0,26.2875,0,0,0,0,1,0,0,0,0,0,0,1
708,709,1,1,0,22,0,0,151.5500,0,0,0,0,0,0,0,0,1,0,0,1
710,711,1,1,0,24,0,0,49.5042,0,0,1,0,0,0,0,0,0,1,0,0

In [36]:
a.groupby('Sex').size()

Sex
female    314
male      577
dtype: int64

In [96]:
a.groupby('Survived').count()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Survived,,,,,,,,,,,
0,549,549,549,549,424,549,549,549,549,68,549
1,342,342,342,342,290,342,342,342,342,136,340

In [110]:
#stochastic approach using linear regression method to predict
#Plot the value and compute for the average decision boundary of the survivor statstics
def stochastic_gdescent (data, step_size,theta, max_iters=10000):
  for x in range(0, max_iters):
    i = np.random.randint(low=0, high=9999, size=None)
    gradient = label[i] - theta.dot(data[i])
    for y in range(0,2):
      theta[y] = theta[y] + (step_size * (label[i]-(data[i][y]*theta[y])) * data[i,y])
    #Report every 100 iteration to see the gradient and add data for plot
    if (x % 100 == 0) :
      print "Data point of x" , x, " is ", data[i]
      print "Gradient of this point", gradient
      print "Current theta", theta
      a[x/100] = (np.sum(data.dot(theta) - label **2)/10000)

In [111]:
#Cross Validation
#Different type of split